/var/log/nginx/access.log
/var/log/nginx/error.log {
	daily
	missingok
	rotate 10
	compress
	delaycompress
	notifempty
	create 0640 www-data adm
	dateext
	sharedscripts
	prerotate
		if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
			run-parts /etc/logrotate.d/httpd-prerotate; \
		fi \
	endscript
	postrotate
		invoke-rc.d nginx rotate >/dev/null 2>&1
	endscript
}

/var/log/nginx/{{ log_file }}.log {
	daily
	missingok
	rotate 730
	compress
	delaycompress
	notifempty
	create 0640 www-data adm
	dateext
	sharedscripts
	prerotate
		if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
			run-parts /etc/logrotate.d/httpd-prerotate; \
		fi \
	endscript
	postrotate
		invoke-rc.d nginx rotate >/dev/null 2>&1
	endscript
}
